@charset "utf-8";
/* CSS Document */

.hidden { display: none }

body { background-image:url(../images/MIXER_BG.svg);
	background-repeat:no-repeat; background-position:center center;
	background-color:#fff; font-size:16px; }

#container {
  position: relative;
}

#playZone {
  width: 154px;
  height: 97px;
  margin-top: 377px;
  margin-left: 326px;
  padding: 0;

}

#tapeZone {
  margin-top: 100px;
  width: 896px;
  height: 239px;
  margin: 0 auto;

}

#tapeZone img {
  width: 140px;
  height: 89px;
  padding: 15px 15px;
}

.audioController {
	width:26px;
	height:30px;
	display:inline-block;
	background-image:url(../images/BT_audio.png);
	background-repeat:no-repeat;
	transition:transform .3s;
	-webkit-transition:-webkit-transform .3s;
	-moz-transition:-moz-transform .3s;
}

.rewind {background-position:0px -30px;}

.play {background-position:-26px -30px;}

.stop {background-position:-52px -30px;}

.forword {background-position:-78px -30px;}
